@charset "utf-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    color: #444;
}

div {
    max-width: 900px;
    margin: 20px auto;
    background-color: #fff;
    /*padding: 50px;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #007bff;
    color: white;
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

td {
    padding: 10px 15px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

/* Estilo para o link na coluna de nome */
td a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

.container-de-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 70%;
    gap: 15px;
}

input.usuario, .senha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
}

.botao-entrar {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilo para os botões dentro da tabela */
td button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button_editar {
    display: inline-block;
    background-color: #ffc107;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 3px auto;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button_editar:hover {
    background-color: #e0a800;
}
.detalhes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35vh;
    width: 70%;
    gap: 15px;
}

.editar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    max-width: 400px;
    margin: 1px auto;
}
.editar label {
    font-weight: bold;
    margin-bottom: 2px;
}


.buttons_cancelar, .button_deletar {
    background-color: #dc3545;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 3px auto;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.buttons_cancelar:hover , .button_deletar:hover{
    background-color: #c82333;
}

tfoot button.button_criar, .buttons_ok{
    display: inline-block;
    background-color: #28a745;
    color: black;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

tfoot button.button_criar:hover, .buttons_ok:hover {
    background-color: #218838;
}
